version: "3.9"
services:
  testpoint:
    container_name: perfsonar-testpoint
    image: ghcr.io/perfsonar/testpoint:5.2.4-systemd
    labels:
      - io.containers.autoupdate=registry
    network_mode: "host"
    cgroup: host
    environment:
      - TZ=UTC
    restart: unless-stopped
    tmpfs:
      - /run
      - /run/lock
      - /tmp
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
      - /opt/perfsonar-tp/psconfig:/etc/perfsonar/psconfig:Z
    tty: true
    pids_limit: 8192
    cap_add:
      - CAP_NET_RAW
